.logo {
  width: 245px;
  height: 63px;
  background-image: url('../img/icons/logo.svg');
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: 100%;
  @media (min-width: 992px) {
    width: 474px;
    height: 124px;
  }

  &.logo_main {
    @media (min-width: 992px) {
      width: 474px;
      height: 124px;
    }
    @media (min-width: 1200px) {
      width: 474px;
      height: 124px;
    }
    @media (min-width: 1400px) {
      width: 474px;
      height: 124px;
    }
    @media (min-width: 1650px) {
      width: 818px;
      height: 189px;
    }
  }

}
